<h1>Create a class</h1>

<form action="/classes/create-class" enctype="multipart/form-data" method="post">
  <div class="mb-3">
    <label for="className" class="form-label">Class name
    <input type="text" name="className" class="form-control" id="className" aria-describedby="emailHelp" placeholder="Enter your class name..." required>
    </label>
  </div>
  <div class="mb-3">
    <label for="duration" class="form-label">Class duration in minutes
    <input type="number" name="duration" class="form-control" id="duration" placeholder="Enter your class duration..." required>
    </label>
  </div>
    <div class="mb-3">
    <label for="date" class="form-label">Date
    <input type="date" name="date" class="form-control" id="date" required>
    </label>
  </div>
    <div class="mb-3">
    <label for="timeOfDay" class="form-label">Time of day
    <input type="time" name="timeOfDay" class="form-control" id="timeOfDay" required>
    </label>
  </div>
    <div class="mb-3">
    <label for="description" class="form-label">Description
    <input type="text" name="description" class="form-control" id="description" placeholder="Describe your class..." required>
    </label>
  </div>
  <div class="mb-3">
    <label for="location" class="form-label">Google Maps Location => <a href="">`</a>
    <input type="text" name="location" class="form-control" id="description" placeholder="Paste the location..." required>
    </label>
  </div>
  <div class="mb-3">
    <label for="neededEquipment" class="form-label">What to bring?
    <input type="text" name="neededEquipment" class="form-control" id="description" placeholder="What do attendees need to participate" required>
    </label>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price
    <input type="text" name="price" class="form-control" id="description" placeholder="Set the price..." required>
    </label>
  </div>
    <div class="mb-3">
    <label for="uploadImage" class="form-label">Upload image
    <input type="file" name="class-cover-image" class="form-control" id="uploadImage" required>
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Create class</button>
</form>


